:root {
  --btn-bgcolor-default: #cd6326;
  --btn-bgcolor-hover: #e39128;
  --btn-bgcolor-pressed: #8f5613;
  --text-main-color: #f7f7f7;
  --text-headings-color: #666666;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans";
  color: var(--text-main-color);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.logo {
  text-decoration: none;
  color: var(--text-main-color);
  white-space: nowrap;
  margin-right: auto;
  &__img {
    vertical-align: bottom;
  }
  &__title {
    font-family: "Roboto";
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    padding-left: 11px;
    padding-right: 11px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
