.footer {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #181617;
  background-image: url("/src/images/footer-bg.jpg");
  background-position: 50% -0;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &__inner {
    //padding-top: 10px;
    //padding-bottom: 10px;
    min-height: 362px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__inner > * {
    margin: 0 auto;
  }

  &__nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 88px;
  }

  &__nav-item {
  }

  &__nav-link {
    display: block;
    color: var(--main-text-color);
    font-size: 23px;
    line-height: 60px;
    text-decoration: none;
    transition: all 0.3s ease-out;
    &:hover,
    &:focus {
      cursor: pointer;
      color: var(--btn-bgcolor-hover);
      transform: translateY(-3px);
    }
    &:active {
      color: var(--btn-bgcolor-pressed);
    }
  }

  &__socials-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 27px;
  }

  &__socials-item {
  }

  &__socials-link {
    border-radius: 50%;
    background-color: var(--text-main-color);
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-out;
    &--fb {
      background-image: url("/src/images/fb.svg");
    }
    &--inst {
      background-image: url("/src/images/ins.svg");
    }
    &--pin {
      background-image: url("/src/images/pin.svg");
    }
    &--tlgrm {
      background-image: url("/src/images/telegramm.svg");
    }
    &:hover,
    &:focus {
      background-color: var(--btn-bgcolor-hover);
    }
    &:active {
      background-color: var(--btn-bgcolor-pressed);
    }
  }

  @media screen and (max-width: 1030px) {
    & {
      &__inner {
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
      &__nav-list {
        flex-grow: 0;
        @media screen and (max-width: 530px) {
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}
