.header {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #02160b;

  background-image: url("../images/fox-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  &__inner {
    display: flex;
    justify-content: space-between;

    align-items: center;
  }
  &__nav {
    font-size: 23px;
  }
}

.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 62px;
    align-items: center;
    text-align: center;
    list-style: none;
  }
  &__item {
  }
  &__link {
    display: block;
    color: inherit;
    line-height: 47px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    flex-basis: 100px;
    transition: all 0.3s ease-out;
    &:hover,
    &:focus {
      cursor: pointer;
      color: var(--btn-bgcolor-hover);
      transform: translateY(-3px);
    }
    &:active {
      color: var(--btn-bgcolor-pressed);
    }
  }
  &__link--search {
    position: relative;
    top: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
    & path {
      fill: var(--text-main-color);
      transition: all 0.3s ease-out;
    }
    &:hover path {
      fill: var(--btn-bgcolor-hover);
    }
    &:active path {
      fill: var(--btn-bgcolor-pressed);
    }
  }

  &__button {
    padding-top: 8px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 8px;
    line-height: 27px;
    border: 2px solid var(--btn-bgcolor-hover);
    border-radius: 5px;
    white-space: nowrap;
    &:hover,
    &:focus {
      background-color: var(--btn-bgcolor-hover);
      color: black;
    }
    &:active {
      background-color: var(--btn-bgcolor-pressed);
    }
  }
}
