.header {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #02160b;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  &__nav {
    font-size: 23px;
  }
}

.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    //justify-content: flex-end;
    justify-content: space-between;
    gap: 74px;
    align-items: center;
    text-align: center;
    list-style: none;
  }
  &__item {
    // margin-left: 78px;
  }
  &__link {
    color: inherit;
    line-height: 47px;
    //height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    flex-basis: 100px;
  }
  &__link--search {
    position: relative;
    & svg {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
    }
    & path {
      fill: var(--text-main-color);
    }
  }
  &__button {
    padding-top: 8px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 8px;
    line-height: 27px;
    border: 2px solid var(--text-main-color);
    border-radius: 5px;
  }
}
