.latest {
  background-color: #cccccc;

  &__inner {
    padding-top: 121px;
    padding-bottom: 118px;
  }

  &__title {
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
    margin-bottom: 120px;
  }
}
.slider {
  position: relative;

  &__inner {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 70px;
    background-color: transparent;
    border: none;

    &:hover path,
    &:focus path {
      transition: all 0.3s ease-out;
      cursor: pointer;
      fill: var(--btn-bgcolor-hover);
    }
    &:active path {
      fill: var(--btn-bgcolor-pressed);
    }
    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
    }
  }
}

.slide {
  flex-basis: calc(100% / 3 - 60px);
  max-width: 300px;
  position: relative;
  text-align: center;

  &__title {
    position: absolute;
    bottom: 82px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    line-height: 36px;
    text-align: center;
  }

  &__description {
    position: absolute;
    font-size: 17px;
    line-height: 27px;
    color: #f7f7f7;
    top: 293px;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
  }
}
