.notified {
  background-color: #cccccc;
  padding-top: 117px;
  padding-bottom: 239px;

  &__inner {
  }

  &__title {
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
    margin-bottom: 60px;
  }
}

.subscribe {
  &__wrapper {
    margin: 0 auto;
    max-width: 660px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__input {
    border: solid #666666 1px;
    border-right-width: 0;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 27px;
    flex-grow: 1;
    align-items: center;
    background-color: #cccccc;
    color: #666666;
    font-family: "Roboto";
  }
  &__submit {
    border: 0;
    text-align: center;
    font-size: 25px;
    line-height: 27px;
    color: var(--main-text-color);
    background-color: var(--btn-bgcolor-default);
    padding-top: 17px;
    padding-right: 1px;
    padding-bottom: 17px;
    border-radius: 0 5px 5px 0;
    min-width: 120px;
    font-family: "Roboto";
    margin: auto;
    transition: all 0.3s ease-out;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: var(--btn-bgcolor-hover);
    }
    &:active {
      background-color: var(--btn-bgcolor-pressed);
    }
  }

  @media screen and (max-width: 600px) {
    &__wrapper {
      flex-direction: column;
    }

    &__input {
      border-right-width: 1px;
      width: 90%;
      margin-bottom: 25px;
    }
    &__submit {
      border-radius: 5px;
    }
  }
}
