.survival {
  margin-top: -100px;
  min-height: 780px;
  background-color: #02160b;
  background-image: url("../images/fox-bg.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  object-fit: cover;

  &__inner {
    padding-top: 200px;
    padding-bottom: 240px;
  }
}

.donate {
  max-width: 274px;

  &__title {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    margin-bottom: 51px;
    color: var(--main-text-color);
  }

  &__description {
    font-size: 18px;
    line-height: 27.2px;
    padding-bottom: 49px;
  }

  &__button {
    display: inline-block;
    padding-left: 42px;
    padding-top: 16px;
    padding-right: 42px;
    padding-bottom: 17px;
    font-size: 23px;
    text-decoration: none;
    line-height: 27px;
    background-color: var(--btn-bgcolor-default);
    border-radius: 5px;
  }
}
