.survival {
 
  background-position: 50% -102px;
  background-repeat: no-repeat;
  object-fit: cover;
  padding-top: 100px;
  padding-bottom: 241px;

  &__inner {
  }
}

.donate {
  max-width: 274px;

  &__title {
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    margin-bottom: 50px;
    color: var(--btn-bgcolor-hover);
  }

  &__description {
    font-size: 18px;
    line-height: 27.2px;
    padding-bottom: 48px;
  }

  &__button {
    display: block;
    width: min-content;
    padding-left: 42px;
    padding-top: 17px;
    padding-right: 42px;
    padding-bottom: 17px;
    font-size: 22px;
    text-decoration: none;
    line-height: 27px;
    color: inherit;
    background-color: var(--btn-bgcolor-default);
    border-radius: 5px;
    transition: all 0.3s ease-out;
    &:hover,
    &:focus {
      background-color: var(--btn-bgcolor-hover);
    }
    &:active {
      background-color: var(--btn-bgcolor-pressed);
    }
  }
}
