/* By Athlon Front-End Team */

/* CSS Reset */
//@import "base/reset";

/* CSS print */
@import "base/print";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

@import "blocks/common";
@import "blocks/header";
@import "blocks/survival";
@import "blocks/latest";
@import "blocks/notified";
@import "blocks/footer";
